.accomodation-layout
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.accomodation-header
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.accomodation-header h1
{
    color: rgba(0, 0, 0, .5);
}

.accomodation-header button
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 1.5em;
    border-radius: 10px;
    background: #1877F2;
    border: 1px solid #1877F2;
    box-shadow: 4px 0 10px rgba(0, 0, 0, .1);
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
}

.accomodation-header button:hover
{
    border-radius: 10px;
    background: #1DA1F2;
    border: 1px solid #1DA1F2;
    transition: all .5s ease-in-out;
}

.accomodation-grid
{
    width: 100%;
    height: 88%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.accomodation-aligning
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    gap: 2em;
    overflow-y: auto;
    box-sizing: border-box;
}

.accomodation-grid-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    height: auto;
    cursor: pointer;
    padding: 1em;
    box-sizing: border-box;
    background: #1da0f232;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: 2px solid rgba(0, 0, 0, .1);
    position: relative;
}

.room-pictures
{
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.room-pictures .accomodation-image
{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.accomodation-content
{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    flex: 1;
    height: 100%;
    padding: .7em;
    gap: .7em;
}

/* POPUP */
.accomodations-form
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, .1);
    background: rgb(146, 144, 144);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    padding: 1em;
    z-index: 2000;
    overflow-y: auto;
    box-sizing: border-box;
}

.accomodations-form .input-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    height: 100%;
    width: 45%;
    /* padding: 1em; */
}

.accomodations-form input
{
    width: 90%;
    padding: .7em;
    outline: none;
    background: rgba(0, 0, 0, .5);
    color: whitesmoke;
}

.accomodations-form textarea
{
    width: 100%;
    height: 42%;
    padding: .7em;
    outline: none;
    color: rgba(0, 0, 0, .7);
}

.action-buttons-wrapper
{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em 0;
    align-items: flex-start;
    gap: 1em;
    position: relative;
}

.close-form-button
{
    padding: .3em;
}

.close-detail-form
{
    font-size: 1.5em;
    color: red;
}


.likes
{
    border: none;
    padding: .7em 1em;
    background: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 2000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    top: 0;
    right: 0;
}

.love-icon
{
    font-size: 1.5em;
    color: #DD2A7B;
}

.accommodation-availability-available
{
    border: 1px solid rgba(0, 0, 0, .1);
    padding: .7em 1em;
    background: #1DA1F2;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 2000;
    position: absolute;
    top: 0;
    right: 6.5em;
}

.accommodation-availability-booked
{
    border: 1px solid rgba(0, 0, 0, .1);
    padding: .7em 1em;
    background: #1DA1F2;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 2000;
    position: absolute;
    top: 0;
    right: 13.5em;
}

@media only screen and (max-width: 740px) {
    
    .accomodation-grid-item
    {
        flex-direction: column;
    }

    .accomodation-header
    {
        padding: 2em 1em;
        gap: 1.5em;
    }

    .accomodation-header h1
    {
        font-size: 1.5em;
    }

    .likes
    {
        background: black;
        color: white;
    }

    .accomodations-form
    {
        width: 95%;
        height: 95%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        gap: .3em;
        padding: 1em .5em;
    }

}