.home
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.home-header
{
    width: 100%;
    height: 10%;
}

.dashboard-content-wrapper
{
    width: 100%;
    height: 90%;
    padding: 1em 0;
    overflow: auto;
}

