.user-layout
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-header
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 1em;
}

.overall-users
{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    overflow-y: auto;
}

.user-header-wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .2em;
    gap: .3em;
}

.user-header-wrapper p
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1em .7em;
        font-weight: 1000;
        font-family: 'Helvetica Neue ';
        flex-shrink: 0;
        background: black;
        color: azure;
    }

.user-wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .2em;
    gap: .3em;
}

.user-wrapper p
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.3em .7em;
    background: #1DA1F2;
    color: whitesmoke;
}

.name,
.location,
.user-id
{
    min-width: 20%;
    flex-shrink: 0;
    background: #1DA1F2;
}

.status,
.phone
{
    min-width: 10%;
    flex-shrink: 0;
    background: #1DA1F2;
}

.age
{
    min-width: 8%;
    flex-shrink: 0;
    background: #1DA1F2;
}

.remove-button
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 10%;
    gap: .5em;
    flex-shrink: 0;
}

.user-header h1
{
    color: rgba(0, 0, 0, .5);
}
.user-wrapper button
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.1em;
    border-radius: 10px;
    background: #1877F2;
    border: 2px solid #1877F2;
    box-shadow: 4px 0 10px rgba(0, 0, 0, .1);
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
}

.user-wrapper button:hover
{
    border-radius: 10px;
    background: #1DA1F2;
    border: 2px solid #1DA1F2;
    transition: all .5s ease-in-out;
}

@media only screen and (max-width: 740px) {

    .user-header-wrapper p
    {
        font-size: .8em;
    }

    .user-wrapper p
    {
        font-size: .8em;
    }

    .name,
    .location,
    .user-id
    {
        min-width: 100%;
        flex-shrink: 0;
        background: #1DA1F2;
    }
    
    .status,
    .phone
    {
        min-width: 30%;
        flex-shrink: 0;
        background: #1DA1F2;
    }
    
    .age
    {
        min-width: 20%;
        flex-shrink: 0;
        background: #1DA1F2;
    }
    
    .remove-button
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        min-width: 50%;
        gap: .5em;
        flex-shrink: 0;
    }
}