*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* APP */
.App
{
    height: 100vh;
    width: 100%;
    /* background: rgb(192, 191, 191); */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN */
main
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}